body {
  margin: 0px;
}

nav {
  display: flex;
  background: aqua;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
  color: black;
}

.list-item {
  border: 1px solid black;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
}

.list-item a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.problem {
  font-size: 30px;
  font-weight: bold;
}

.bogi {
  font-size: 20px;
}